{% extends "base.html" %}

{% block content %}
                        <h3 class="card-title">Proyecto NARE</h3>
                        <br>
                        <h5 class="card-text">Herramientas de soporte</h5>
                        <h5 class="card-text">Actualización de Pozos</h5>
                        <br>
                        <div class="d-grid gap-2 w-50 mx-auto">
                          <a class="btn btn-dark" href={{ url_for('preactualizacion') }} role="button">PRE ACTUALIZACION</a><i class="fas fa-info-circle"></i>
                          <a class="btn btn-dark" href={{ url_for('home') }}  role="button">PROCESAMIENTO DDR</a><i class="fas fa-info-circle"></i>
                        </div>
{% endblock %}