{% extends "base.html" %}

{% block content %}
                        <h3 class="card-title">Proyecto NARE</h3>
                        <br>
                        <h5 class="card-text">Herramientas de soporte</h5>
                        <h5 class="card-text">Actualización de Pozos</h5>
                        <br>
                        <div class="d-grid gap-2 w-50 mx-auto">
                          <a class="btn btn-dark" href={{ url_for( 'comp_status' ) }} role="button">BORRADO COMP. STATUS</a>
                          <a class="btn btn-dark" href={{ url_for( 'ajustar_profundidades' ) }}  role="button">AJUSTE DE PROFUNDIDADES</a>
                          <a class="btn btn-dark" href={{ url_for( 'preprocesar_ddr' ) }}  role="button">PROCESAMIENTO DDR</a>
                          <a class="btn btn-dark" href={{ url_for( 'taladros_dailys_ops' ) }}  role="button">TALADROS Y DAILY OPS XL</a>
                          <!-- <a class="btn btn-dark" href={{ url_for( 'asignar_activity_phases' ) }}  role="button">ASIGNAR ACTIVITY PHASES</a> -->
                          <a class="btn btn-dark" href={{ url_for( 'identificar_ocm' ) }}  role="button">IDENTIFICACION OCM</a>
                          <a class="btn btn-dark" href={{ url_for( 'propiedades_casing' ) }}  role="button">PROPIEDADES CASINGS</a>
                        <br>
                        </div>
{% endblock %}