{% extends "base.html" %}
{% block content %}
<b>
    <h3 class="card-title">Pre Actualizacion de <br>Pozos</h3>
</b>

<br>
<form action="" method="post">
    {{ preactualizacion_form.hidden_tag() }}

{#                                                    Nombre del pozo#}
    <p>{{ preactualizacion_form.nombrepozo.label() }}</p>
    <p>{{ preactualizacion_form.nombrepozo(class="btn btn-dark dropdown-toggle") }}
        {% for error in preactualizacion_form.nombrepozo.errors %}
            {{ error }}
        {% endfor %}
    </p>
{#                            TD del pozo#}
    <p>{{ preactualizacion_form.td_pozo.label() }}</p>
    <p>{{ preactualizacion_form.td_pozo }}
        {% for error in preactualizacion_form.td_pozo.errors %}
            {{ error }}
        {% endfor %}
    </p>
{#                            Elevacion Mesa#}
    <p>{{ preactualizacion_form.elevacion_mesa.label() }}</p>
    <p>{{ preactualizacion_form.elevacion_mesa }}
        {% for error in preactualizacion_form.elevacion_mesa.errors %}
            {{ error }}
        {% endfor %}
    </p>

{#                            Elevacion Terreno#}
    <p>{{ preactualizacion_form.elevacion_terreno.label() }}</p>
    <p>{{ preactualizacion_form.elevacion_terreno }}
        {% for error in preactualizacion_form.elevacion_terreno.errors %}
            {{ error }}
        {% endfor %}
    </p>
{#                            Geometria del Pozo#}
    <p>{{ preactualizacion_form.geometria.label() }}</p>
    <p>{{ preactualizacion_form.geometria(class="btn btn-dark dropdown-toggle") }}
        {% for error in preactualizacion_form.geometria.errors %}
            {{ error }}
        {% endfor %}
    </p>

{#                        Consultar Datos del Pozo  #}
    {{ preactualizacion_form.consultar_btn(class="btn btn-outline-secondary", href="{{ url_for('home') }}") }}
    {{ preactualizacion_form.preactualizar_btn(class="btn btn-outline-danger", href="#") }}

{#                            {% for field in preactualizacion_form if field.name != "csrf_token" %}#}

{#                                {% if not field.name in ('consultar_btn','preactualizar_btn') %}#}
{#                                    <p>{{ field.label() }}</p>#}
{#                                {% endif %}#}
{#                                <p>{{ field }}#}
{#                                    {% for error in field.errors %}#}
{#                                        {{ error }}#}
{#                                    {% endfor %}#}
{#                                </p>#}
{#                            {% endfor %}#}
</form>
<br>
<div class="d-grid gap-2 w-50 mx-auto">
    <a class="btn btn-secondary" href={{ url_for('home') }}  role="button">VOLVER</a>
</div>

{% endblock %}