<!DOCTYPE html>
<html lang="es">
{#{%  import 'bootstrap/wtf.html' as wtf %}  }#}
<head>
    <meta charset="UTF-8">
    <title>Nare Tools</title>
    <meta name="viewport"content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f8bd43ae7.js" crossorigin="anonymous"></script>
</head>
<body style="min-height: 100vh">
    <div class="container" style="min-height: 100vh">
        <div class="row justify-content-center" style="min-height: 100vh">
            <div class="col-md-6 align-self-center text-center">
                <div class="card text-center">
                    <div class="card-body text-center">
                        <b>
                            <h3 class="card-title">Pre Actualizacion de <br>Pozos</h3>
                        </b>

                        <br>
                        <form action="" method="post">
                            {{ preactualizacion_form.hidden_tag() }}

{#                                                    Nombre del pozo#}
                            <p>{{ preactualizacion_form.nombrepozo.label() }}</p>
                            <p>{{ preactualizacion_form.nombrepozo(class="btn btn-dark dropdown-toggle") }}
                                {% for error in preactualizacion_form.nombrepozo.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {#                            TD del pozo#}
                            <p>{{ preactualizacion_form.td_pozo.label() }}</p>
                            <p>{{ preactualizacion_form.td_pozo }}
                                {% for error in preactualizacion_form.td_pozo.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {#                            Elevacion Mesa#}
                            <p>{{ preactualizacion_form.elevacion_mesa.label() }}</p>
                            <p>{{ preactualizacion_form.elevacion_mesa }}
                                {% for error in preactualizacion_form.elevacion_mesa.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>

                        {#                            Elevacion Terreno#}
                            <p>{{ preactualizacion_form.elevacion_terreno.label() }}</p>
                            <p>{{ preactualizacion_form.elevacion_terreno }}
                                {% for error in preactualizacion_form.elevacion_terreno.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {#                            Geometria del Pozo#}
                            <p>{{ preactualizacion_form.geometria.label() }}</p>
                            <p>{{ preactualizacion_form.geometria(class="btn btn-dark dropdown-toggle") }}
                                {% for error in preactualizacion_form.geometria.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>

{#                        Consultar Datos del Pozo  #}
                            {{ preactualizacion_form.consultar_btn(class="btn btn-outline-secondary", href="{{ url_for('home') }}") }}
                            {{ preactualizacion_form.preactualizar_btn(class="btn btn-outline-danger", href="#") }}

{#                            {% for field in preactualizacion_form if field.name != "csrf_token" %}#}

{#                                {% if not field.name in ('consultar_btn','preactualizar_btn') %}#}
{#                                    <p>{{ field.label() }}</p>#}
{#                                {% endif %}#}
{#                                <p>{{ field }}#}
{#                                    {% for error in field.errors %}#}
{#                                        {{ error }}#}
{#                                    {% endfor %}#}
{#                                </p>#}
{#                            {% endfor %}#}
                        </form>
                        <br>
                        <div class="d-grid gap-2 w-50 mx-auto">
                          <a class="btn btn-secondary" href={{ url_for('home') }}  role="button">VOLVER</a>
                        </div>

                    </div>

                </div>
                <img src="{{ url_for('static', filename='images/Halliburton_logo.png') }}" class="card-img-bottom align-self-center" alt="Halliburton Logo" style="max-width: 50%; margin: 2.5vh">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>